html {
    max-width: 700px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.Container {
    max-width: 60rem;
    margin: 3rem auto 0;
    font-family: sans-serif;
    
    h1 {
      color: #333;
    }
    
    p {
      color: #aaa;
    }
  }