// Portfolio Page

.portfolio {
  padding: 1rem;
}
.row {
    display: inline-flex;
    width: 100%;
}
.portfolio-item {
    display: block;
    width: 50%;
    padding: 40px 10px;
    box-sizing: border-box;
  
    &-link {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
    &-image {
      width: 100%;
      
      img {
        width: 100%;
      }
    }
}
.project-media-item {
    padding: 50px 20px;
    background: #f5f6f7;
}

.project-title {
    text-transform: uppercase;

    &:after {
      content: "";
      width: 40px;
      border-bottom: 4px solid;
      display: block;
      margin-top: .25em;
    }

}